.about {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;

  &Greeting {
    margin-bottom: 2rem;
  }
  &Text {
    max-width: 550px;
  }
  &Photo {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
  }
}
