@import '../../styles/base/base';

.container {
  display: inline-block;
}

.navigation button {
  display: inline;
  margin-left: 3rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.project {
  color: $color-cinnabar;
}
