@import '../../styles/base/base';

.contact {
  margin-bottom: 2rem;
  &Title {
    display: flex;
    justify-content: center;
    color: $color-cinnabar;
    margin-bottom: 2rem;
    font-weight: $font-weight-titles;
  }
  &Bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Img {
    width: 40%;
  }
}
